:root {
  --step--1: 0.875rem;
  --step-0: 1rem;
  --step-1: 1.125rem;
  --step-2: 1.25rem;
  --step-3: 1.5rem;
  --step-4: 2rem;
  --step-5: 2.5rem;
  --step-6: 3rem;
  --step-title: 6.5rem;
  --fluid-title: clamp(1em, 2vw, 2.250em);
  --fluid-subtitle: clamp(1.25rem, 2vw, 1.75rem);
  --fluid-body: clamp(1rem, 1.5vw, 1.25rem);
  --fluid-nav-link: clamp(1rem, 1.5vw, 1.5rem);
  --lh-title: .9;
  --lh-body: 1.5
}

.body-text {
  font-size: var(--fluid-body);
  line-height: var(--lh-body);
  font-weight: 300
}

.h1,
.logo {
  line-height: var(--lh-title);
  font-weight: 400;
  text-transform: uppercase
}

.logo {
  font-size: var(--fluid-title)
}

.h1 {
  font-size: var(--step-title);
  letter-spacing: -3px
}

.h2,
.h3 {
  line-height: var(--fluid-subtitle)
}

.h2 {
  font-size: var(--step-4);
  font-weight: 600
}

.h3 {
  font-size: var(--step-3);
  font-weight: 500
}

.nav-link {
  font-size: var(--step-0);
  line-height: var(--fluid-nav-link);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .15em
}

.text-light {
  color: var(--light-color);
  font-weight: 300
}

.text-light-2 {
  color: var(--light-2-color);
  font-weight: 300
}

.bebafont {
  font-family: "Bebas Neue"
}

.montrealfont {
  font-family: "Neue Montreal"
}

.text-white {
  color: var(--white-color)
}

.bg-black {
  background-color: var(--black-color)
}